:host {
  width: 100%;
  height: 100%;
}

form {
  max-width: 300px;
  margin: 25% auto;

  .header {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
  }

  mat-form-field {
    width: 100%;
  }

  .divider {
    background-color: grey;
    height: 2px;
  }

  .actions {
    button {
      display: flex;
      margin: 15px 0;
      width: 100%;
      * {
        padding: 0 8px;
      }
      img {
        display: inline;
        width: 60px;
        height: fit-content;
      }
      &.yandex {
        color: black;
        background-color: #ffcc01;
      }
      &.google {
        background-color: #33a852;
      }
    }
  }
}
