<form autocomplete="off" novalidate action [formGroup]="fg" (ngSubmit)="save()">
  <h1 mat-dialog-title>
    <span *ngIf="dialogData.user.id">Edit User</span>
  </h1>

  <mat-dialog-content class="dialog-content">
    <mat-form-field>
      <input
        matInput
        type="text"
        id="firstName"
        placeholder="First Name"
        autocomplete="given-name"
        formControlName="firstName"
      />
      <mat-error *ngIf="fg.controls['firstName'].errors">
        <span>{{ getErrorMessage('firstName') }}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        id="lastName"
        placeholder="Last Name"
        autocomplete="family-name"
        formControlName="lastName"
      />
      <mat-error *ngIf="fg.controls['lastName'].errors">
        <span>{{ getErrorMessage('lastName') }}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="email"
        id="email"
        placeholder="Email"
        autocomplete="email"
        formControlName="email"
      />
      <mat-error *ngIf="fg.controls['email'].errors">
        <span>{{ getErrorMessage('email') }}</span>
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <ng-container *ngIf="errorMessage() as message">
    <mat-error style="text-align: center">{{ message }}</mat-error>
  </ng-container>

  <div mat-dialog-actions align="end">
    <button
      mat-button
      type="button"
      [disabled]="fg.invalid || fg.disabled"
      (click)="save()"
      *ngIf="!dialogData.user.id"
    >
      SAVE AND NEW
    </button>
    <button
      mat-flat-button
      type="button"
      [disabled]="fg.invalid || fg.disabled"
      (click)="save()"
    >
      SAVE
    </button>
    <button mat-button type="button" mat-dialog-close>CANCEL</button>
  </div>
</form>
