<ng-container *ngIf="!isFinished; else finished">
  <form [formGroup]="passwordForm">
    <div class="header">{{ task }} password for {{ email }}</div>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        type="password"
        id="signup_password"
        placeholder="Password"
        autocomplete="new-password"
        formControlName="password"
        required
        [type]="hide() ? 'password' : 'text'"
      />
      @if (passwordForm.controls['password'].invalid) {
        <mat-error>
          <span *ngIf="passwordForm.controls['password'].errors?.['required']">
            Password is required.
          </span>
          <span *ngIf="passwordForm.controls['password'].errors?.['minlength']">
            Must be at least 8 characters.
          </span>
        </mat-error>
      }
      <button
        mat-icon-button
        matSuffix
        (click)="hideShowPassword($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div>
      <button
        mat-flat-button
        color="accent"
        type="submit"
        (click)="setPassword()"
        [disabled]="!passwordForm.valid"
      >
        {{ task }} password
      </button>
    </div>
  </form>
</ng-container>

<ng-template #finished>
  <div class="content">
    <div class="header" style="margin: auto">Your password is set up!</div>
    <button mat-flat-button color="accent" routerLink="/login">Login</button>
  </div>
</ng-template>
