<ng-container
  *ngIf="loading$ | async; then loaderTmpl; else formTmpl"
></ng-container>

<ng-template #loaderTmpl>
  <loader></loader>
</ng-template>

<ng-template #formTmpl>
  <form [formGroup]="fg">
    <div class="header">Create your account</div>

    <mat-form-field>
      <input
        matInput
        type="text"
        id="firstName"
        placeholder="First Name"
        autocomplete="given-name"
        formControlName="firstName"
      />
      <mat-error *ngIf="fg.controls['firstName'].errors">
        <span>{{ getErrorMessage('firstName') }}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        id="lastName"
        placeholder="Last Name"
        autocomplete="family-name"
        formControlName="lastName"
      />
      <mat-error *ngIf="fg.controls['lastName'].errors">
        <span>{{ getErrorMessage('lastName') }}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="email"
        id="signup_email"
        placeholder="Email"
        autocomplete="email"
        formControlName="email"
      />
      <mat-error *ngIf="fg.controls['email'].errors">
        <span>{{ getErrorMessage('email') }}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        type="password"
        id="signup_password"
        placeholder="Password"
        autocomplete="new-password"
        formControlName="password"
        [type]="hide() ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideShowPassword($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="fg.controls['password'].errors">
        <span>{{ getErrorMessage('password') }}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repeat your password</mat-label>
      <input
        matInput
        type="password"
        id="signup_repeatPassword"
        placeholder="Password"
        autocomplete="new-password"
        formControlName="repeatPassword"
        [type]="hideRepeat() ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideShowRepeatPassword($event)"
        [attr.aria-label]="'Hide repeatPassword'"
        [attr.aria-pressed]="hideRepeat()"
      >
        <mat-icon>{{
          hideRepeat() ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      <mat-error *ngIf="fg.controls['repeatPassword'].errors">
        <span>{{ getErrorMessage('repeatPassword') }}</span>
      </mat-error>
    </mat-form-field>

    <ng-container *ngIf="errorMessage() as message">
      <mat-error style="text-align: center">{{ message }}</mat-error>
    </ng-container>

    <div class="actions">
      <button
        mat-flat-button
        color="accent"
        type="submit"
        (click)="signup()"
        [disabled]="!fg.valid"
      >
        Sign up
      </button>
      <button mat-stroked-button routerLink="/login">Login</button>
    </div>
  </form>
</ng-template>
