<mat-toolbar>
  <div class="left"></div>
  <div class="right">
    <button mat-flat-button disableRipple [matMenuTriggerFor]="menu">
      <ng-container *ngIf="user$ | async as user">
        <ng-container
          *ngIf="user.name; then nameTmpl; else emailTmpl"
        ></ng-container>
        <ng-template #nameTmpl>
          <span [matTooltip]="user.name" matTooltipPosition="below">{{
            user.name
          }}</span>
        </ng-template>
        <ng-template #emailTmpl>
          <span>{{ user.email }}</span>
        </ng-template>
        <span>{{ admin$ | async }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </ng-container>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item (click)="srv.updateMe()">
    <mat-icon>person</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="srv.logout()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Log Out</span>
  </button>
</mat-menu>
