@use '@angular/material' as mat;
@import 'fonts';
@import 'material_icons';
@import 'theme_variables';

* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: white;
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.mdc-button__label {
  display: flex;
  align-items: center;
  justify-content: center;
}
