@use '@angular/material' as mat;

$green-palette: (
  primary: (
    0: #000000,
    10: #002110,
    20: #00391f,
    25: #004526,
    30: #00522f,
    35: #005f37,
    40: #006d3f,
    50: #2a8756,
    60: #48a16e,
    70: #64bd87,
    80: #7fd9a1,
    90: #9bf6bb,
    95: #c1ffd4,
    98: #e9ffec,
    99: #f5fff4,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #012110,
    20: #173724,
    25: #22422e,
    30: #2e4d39,
    35: #395944,
    40: #456650,
    50: #5d7f67,
    60: #769980,
    70: #90b49a,
    80: #abcfb4,
    90: #c7ebcf,
    95: #d5fadd,
    98: #e9ffec,
    99: #f5fff4,
    100: #ffffff,
  ),
);

$primary-palette: mat.m2-define-palette(mat.$m2-blue-grey-palette, 900);
$accent-palette: mat.m2-define-palette(mat.$m2-green-palette, 900);
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette, 400);

$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

$primary: mat.m2-get-color-from-palette($primary-palette);
$accent: mat.m2-get-color-from-palette($accent-palette);

$ph-green: #016f41;
$ph-yellow: #fdd835;
$ph-red: #ef5350;
$ph-orange: #f8a55c;

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$dark-blue-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $accent-palette,
      accent: $accent-palette,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);
