:host {
  display: block;
}

.mat-card {
  width: 352px;
}

.mat-table .mat-row:last-child {
  border-bottom-width: 0;
}

.fixIE11verticallyCentered {
  min-height: auto;
}

.col2 {
  display: flex;
  justify-content: flex-end;
}
