<ng-container *ngIf="loading$ | async; then loaderTmpl; else formTmpl">
</ng-container>

<ng-template #loaderTmpl>
  <loader></loader>
</ng-template>

<ng-template #formTmpl>
  <ng-container *ngIf="!(isRequestSent$ | async); else requestSent">
    <form [formGroup]="fg">
      <div class="header">Recover your password</div>
      <mat-form-field>
        <input
          matInput
          type="email"
          id="recover_email"
          placeholder="Email"
          formControlName="email"
          required
        />
        <mat-error *ngIf="fg.controls['email'].errors">
          <span>{{ getErrorMessage('email') }}</span>
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="accent"
        type="submit"
        (click)="recover()"
        [disabled]="!fg.valid"
      >
        Recover password
      </button>
    </form>
  </ng-container>

  <ng-template #requestSent>
    <div class="header" style="margin: auto"
      >We sent you an email with recovery instructions.</div
    >
  </ng-template>
</ng-template>
